.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    box-sizing: border-box;
    color: #5C9210;
    height: 40px;
}

.Danger {
    box-sizing: border-box;
    color: #944317;
    height: 40px;
}

